@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}


.modified-navbar {
  display: flex;
  align-items: center;
  padding: 0.5rem 0;
  width: 100%;
}
:where(.modified-navbar > *) {
  display: inline-flex;
  align-items: center;
}

.filter-list button div {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.filter-list:hover button div {
  transition-property: background-color, border-color, color, fill, stroke;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
